
@media (min-width: 992px) {
    #mainNav {
      box-shadow: none;
      background-color: transparent;
    }
    
    #mainNav .navbar-brand {
      color: rgba(9, 10, 11, 0.7);
    }
    
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 0 1rem;
    }
    
    
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
      padding-right:2px;
      padding-left: 2px;
    }
    
    #mainNav.navbar-shrink {
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
      background-color: #fff;
    }
    
    
    #navbarResponsive .navbar-nav .nav-item .nav-link {
      font-size: 17px;
      left: 15px;
      position: relative;
      color:#1a5b13;
      font-weight:bolder;
      margin: 10px;
      margin-top: -40px;
      left: 60px;
  
      }
  
    .log {
      filter: invert(66%) sepia(44%) saturate(402%) hue-rotate(72deg) brightness(93%) contrast(92%);
  }
  
    
    #navbarResponsive .navbar-nav .nav-item .nav-link:hover {
      color: #1a5b13;
      font-size: 17.8px;
      text-decoration: underline;
    }
    
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
      color: #1a5b13;
    }
  
    
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
      color: #000000;
    }
  }